@model SGEJ.Models.Entities.Amigo

@{
    ViewBag.Title = "Cadastrar";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" class="form-horizontal" enctype="multipart/form-data" method="post">
                @{await Html.RenderPartialAsync("Partial/_Form", Model);}
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#Celular').mask('(00) 00000-0000');
    </script>
}
