<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        S2IT
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="https://github.com/viananicolas" target="_blank">Nicolas Viana da Silva</a>.</strong> All rights reserved.
</footer>