@model SGEJ.Models.Entities.Amigo

@{
    ViewBag.Title = "Alterar";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" class="form-horizontal" enctype="multipart/form-data" method="post">
                @{await Html.RenderPartialAsync("Partial/_Form", Model);}
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
