@model SGEJ.Models.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Realizar cadastro";
}
<h2>@ViewData["Title"]</h2>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="ccSelectForm" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dados</h3>
                    </div>
                    <div class="box-body">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="FirstName" class=" control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="LastName" class=" control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="Email" class=" control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="Password" class=" control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label asp-for="ConfirmPassword" class=" control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix no-border">
                    <buton class="btn btn-primary" style="background-color: #016ef7; border-color: #016ef7;" onclick="window.history.back();">Voltar</buton>
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
