<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" asp-append-version="true" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
</environment>

<div class="box">
    <div class="content">
        <h3 class="title">Informações gerais</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-child"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Empréstimos em andamento</span>
                        <span class="info-box-number">@ViewData["Emprestimos"]</span>
                    </div>
                </div>
            </div>            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-gamepad"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Jogos emprestados</span>
                        <span class="info-box-number">@ViewData["Jogos"]</span>
                    </div>
                </div>
            </div>            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-clock-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Empréstimos em atraso</span>
                        <span class="info-box-number">@ViewData["Atraso"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>